.product-list{
    padding:50px 100px;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.product-list-texts{
    width: 65%;
}

.product-list-title{
    font-size: 50px;
    font-weight: 600;
}

.product-list-description{
    margin: 20px 0px;
}

.product-list-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .product-list{
        padding: 10px;
    }
    .product-list-texts{
        width: 100%;
    }
    .product-list-description{
        display: none;
    }
}