.product{
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(183, 223, 223);
    border-radius:10px 10px 0px 0px;
    overflow: hidden;
}

.product-browser{
    height: 20px;
    background-color: rgb(50, 63, 63);
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    z-index: 2;
}

.product-cirle{
    width: 6px;
    height: 6px;
    margin: 3px;
    border-radius: 50%;
    /* background-color: antiquewhite; */
}

.product-cirle:nth-child(1){
    background-color:rgba(250, 6, 22, 0.987);
}

.product-cirle:nth-child(2){
    background-color:rgba(242, 250, 6, 0.987);
}

.product-cirle:nth-child(3){
    background-color:rgba(14, 250, 6, 0.987);
}

.product-image{
    width: 100%;
    transition: all 10s ease;
}

.product:hover .product-image{
    transform: translateY(-100%);
}

@media only screen and (max-width: 480px) {
   .product{
    width: 40%;
    height: 20vh;
   }
}